@model IEnumerable<TAS_SIUKDWStore.ViewModels.MessageViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Bukutamu.cshtml";
}

    <div class="container_24">
        <div class="grid_24">
            <div class="top-1">
                <h2><strong>Buku</strong> Tamu:</h2>
                <div class="box-4 wrap">
                    @foreach (var item in Model)
                    {
                        <div class="fleft">
                            <div class="box-1">
                                @*<img src="~/Images/@item.pict" alt="" class="img-border img-indent" style="width:108px;height:125px">*@
                                <div class="extra-wrap">
                                    <p class="text-1"><strong>@item.UserName</strong><br /></p>
                                    <p class="text-2">Mengucapkan:</p>
                                </div>
                            </div>
                            <div class="comments-4">
                                <div class="comments-corner"></div>
                                <div class="comment-1">
                                    <div class="comment-2">
                                        <p class="text-4">@item.ContentMessage </p>
                                    </div>
                                </div>
                            </div>

                            @if (User.Identity.Name == "admin")
                            {
                            <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId },
                                    new { onclick = "return confirm('Are you sure you want to delete this?')" })

                            </td>

                            }

                            @if (User.Identity.Name == @item.UserName)
                            {
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = item.MessageId },
                       new { onclick = "return confirm('Are you sure you want to delete this?')" })

                            </td>

                            }
                            else
                            {
                            <h2>@ViewBag.Text</h2>
                            }

                            

                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

      
       @*@foreach (var item in Model)
        {

            <div id="columnA_columnless">

                <h4>@item.UserName</h4><p>Tanggal : @item.TimeMessage</p>

            </div>
           
           
            <p>Mengucapkan : </p>
            <p> @item.ContentMessage</p>
          

            if (User.Identity.Name == "admin")
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId },
                      new { onclick = "return confirm('Are you sure you want to delete this?')" })

                </td>

            }

            

            if (User.Identity.Name == @item.UserName)
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId },
                       new { onclick = "return confirm('Are you sure you want to delete this?')" })

                </td>

            }
            else
            {
                <h2>@ViewBag.Text</h2>
            }
        }*@

<br />
<br />

<footer>
    <p>
        <strong>© 2016 Mukidi &amp; Tumini</strong><br>
    </p>
    <div class="soc-icons"><a href="#"><img src="@Url.Content("~/Content/mytemplate/")images/icon-1.png" alt=""></a><a href="#"><img src="@Url.Content("~/Content/mytemplate/")images/icon-2.png" alt=""></a><a href="#"><img src="@Url.Content("~/Content/mytemplate/")images/icon-3.png" alt=""></a></div>
</footer>