@model TAS_SIUKDWStore.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <table style="width:auto;">
            <tr>
                <td>Your Password</td>
                <td>@Html.PasswordFor(m => m.OldPassword)

            </tr>
            <tr>
                <td>New Password</td>
                <td>@Html.PasswordFor(m => m.NewPassword)

            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)

            </tr>
        </table>
            <input type="submit" value="Change password" />
</fieldset>
}
